* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-family: Sen;
}

form {
    display: flex;
    margin-top: 32px;
}

button {
    background: #373737;
    color: #fff;
    font-family: Sen;
    font-size: 1.3rem;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    font-family: Sen;
    font-size: 1.0rem;
    border-radius: 0px;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #373737;
}

input[type="text"]:focus {
    outline: none;
}